<% content_for :title, "New lesson" %>

<div class="mx-auto w-full md:w-2/3">
  <h1 class="page-title">New Lesson</h1>

  <div class="content-card mt-5">
    <%= render "form", lesson: @lesson %>
  </div>

  <div class="mt-4">
    <%= link_to "Back to lessons", lessons_path, class: "ui-btn ui-btn-secondary" %>
  </div>
</div>
