<div class="w-full">
  <% if notice.present? %>
    <p class="ui-notice" id="notice"><%= notice %></p>
  <% end %>

  <div class="mb-6">
    <h1 class="page-title">Courses</h1>
    <p class="page-subtitle">Explore guided tracks and continue where you left off.</p>
  </div>

  <div id="courses" class="grid grid-cols-1 gap-6 pb-6 sm:grid-cols-2 xl:grid-cols-3">
    <%= render @courses, { user_started_courses: @user_started_courses, user_course_progresses: @user_course_progresses, user_unlocked_courses: @user_unlocked_courses } %>
  </div>
</div>
