<% content_for :title, "New course" %>

<div class="mx-auto w-full md:w-2/3">
  <h1 class="page-title">New Course</h1>

  <div class="content-card mt-5">
    <%= render "form", course: @course %>
  </div>

  <div class="mt-4">
    <%= link_to "Back to courses", courses_path, class: "ui-btn ui-btn-secondary" %>
  </div>
</div>
