<div class="w-full">
  <div class="mb-6 flex items-center justify-between">
    <h1 class="page-title">Manage Courses</h1>
    <%= link_to "New course", new_admin_course_path, class: "ui-btn ui-btn-primary" %>
  </div>

  <% if notice.present? %>
    <p class="ui-notice"><%= notice %></p>
  <% end %>

  <div id="admin_courses" class="grid min-w-full grid-cols-1 gap-5 pb-6 md:grid-cols-2 xl:grid-cols-3">
    <% @admin_courses.each do |admin_course| %>
      <%= render admin_course %>
    <% end %>
  </div>
</div>
